/*.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
}*/

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-around
}

.headings {
  display: flex;
 flex-direction: column;
 align-items: center;
}

.brush-selection {
  display: flex;
height: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.paint {
  display: flex;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.palette {
  display: flex;
 
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
background-color: aquamarine;
}

.color-2 {
background-color: blue;
}

.color-3 {
background-color: crimson;
}

.color-4 {
background-color: darkolivegreen;
}

.color-5 {
background-color: darkorange;
}




